<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
</head>
<body>
	<h1><%= username %></h1>
	<br>
	<p><%= email %></p>
	<br>

	<a href="http://localhost:3000/myprofile">
		<button>My Profile</button>
	</a>

	<a href="http://localhost:3000/absen">
		<button>My Absen</button>
	</a>

</body>
</html>