<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Update -<%= title %></title>
</head>
<body>
	<form>
		<h1 id="id"><%= id %></h1>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" value="<%= name %>" required>
		<label for = "grade">Kelas : </label>
		<select id = "grade" name = "grade" required>
			<option value = 10>10</option>
			<option value = 11>11</option>
			<option value = 12>12</option>
		</select>
		<br>
		<label for = "major">Jurusan : </label>
		<select id = "major" name = "grade" required>
			<option value = "MIPA">MIPA</option>
			<option value = "Bahasa">Bahasa</option>
			<option value = "Teknik">Teknik</option>
		</select>
		<label for="bio">Bio</label>
		<input type="text" name="bio" id="bio" value="<%= bio %>" required>
		<button type="button" onclick="updateProfile()">Update</button>
	</form>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript">

		const BASE_URL = "http://localhost:3000"

		

		async function updateProfile() {
			const id = document.getElementById("id").innerHTML;
			const name = document.getElementById("name").value;
			const grade = document.getElementById("grade").value;
			const major = document.getElementById("major").value;
			const bio = document.getElementById("bio").value; 

			const data = {
					id,
					name,
					grade,
					major,
					bio
				}
		console.log(data)


			const response = await axios({
				method: "put",
				url: `${BASE_URL}/api/profile`,
				data: data,
				headers: {
					"Content-Type": "application/json",
					"Accept": "application/json"
				}

			})

			if(response.status == 200) window.location.href = `${BASE_URL}/myprofile`;

		}




	</script>

</body>
</html>